@import url("style.css");

#post-body-wrapper #back-ground {
    /*
    background: radial-gradient(
        circle at 50% 0, 
        rgba(80, 80, 80, 0.9) 0,
        rgb(125, 125, 125, 0.6) 100vw, 
        rgba(200, 200, 200, 0.3) 150vw , 
        rgba(255, 255, 255, 0) calc( 3 * var(--radial-end))
    ), url(https://github.com/mororo18/draw/raw/main/readme/airplane.png?raw=true);;
    */
    background: linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgba(180, 180, 180, 0.8),
        rgba(160, 160, 160, 0.7),
        rgba(120, 120, 120, 0.6),
        transparent), 
    url(https://github.com/mororo18/draw/raw/main/readme/airplane.png?raw=true);
}

#post-body-wrapper #floating-space {
    height: auto;

    margin-top: 80px;
    margin-bottom: 80px;

}

.post-main-header {
    width: min(30cm, 100%);

    font-weight:    900;
    font-family:    "ThemeVCK Text";
    font-size:      30px;

    color: black;

    background-color: rgba(255, 255, 255, 0.5);
}
.post-main-header h1 {
    margin: 20px;
}

#post-body-wrapper .main-header {
    top: 0;
    opacity: 1;
}

