@font-face {
    font-family: "ThemeVCK Text";
    src: url("fonts/themevck_text/themevck-text.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Google Sans', sans-serif, system-ui;
}


#wrapper {
    height: 100%;
}


/*
#back-ground {
    --vheight: 100vh;
    --vwidth: 100vw;

    height: 100%;
    background: radial-gradient(circle at 50% calc(100vh / 2), white 0, white 15vw, rgb(225, 225, 255), rgb(150, 150, 150) calc(50vh / sin( atan( calc(50vh / 50vw) ) )) );
}
*/

#back-ground {
    --vheight: 100vh;
    --vwidth: 100vw;

    height: auto;
    background: radial-gradient(circle at 50% calc(100vh / 2), white 0, white 15vw, rgb(225, 225, 255), rgb(150, 150, 150) var(--radial-end));
}

#floating-space {
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items:    center;

}

#my-icon {
    width: 200px;
    border-radius: 50%;

}

@media (prefers-reduced-motion: no-preference) {
  #my-icon {
    animation: clockwise-spin 24s infinite linear;
  }

  .text-ring {
    animation: anti-clockwise-spin 24s infinite linear;
  }

  @keyframes clockwise-spin {
    to {
      rotate: 360deg;
    }
  }

  @keyframes anti-clockwise-spin {
    to {
      rotate: -360deg;
    }
  }
}


.text-ring {
    position: absolute;
    /* position: fixed; */
}

.text-ring [style*=--index] {
    --character-width: 1.3; /* In "ch" units */
    --inner-angle:  calc((360 / var(--total)) * 1deg);
    --radius:       calc((var(--character-width, 1) / sin(var(--inner-angle))) * -1ch);
    font-weight:    900;
    font-family:    "ThemeVCK Text";
    font-size:      calc(var(--font-size, 2.2) * 1rem);
    position:       absolute;
    top:    50%;
    left:   50%;
    transform:
        translate(-50%, -50%)
        rotate(calc(var(--inner-angle) * var(--index)))
        translateY(var(--radius, -5ch));
}

#buttons-box {
    position: absolute;

    width: min(100%, 30cm);
    height: min(100%, 22cm);
}

.my-button {
    position: absolute;

}

.my-button[style*=--x][style*=--y]:active {
    /* (ver dps)
       https://stackoverflow.com/questions/68512069/css-force-animation-to-be-fully-completed-on-click-active-or-focus
    */
}

.my-button[style*=--x][style*=--y]:hover {
    text-shadow: 0px 0px 80px;

    animation: none;
    transform: scale(1.4);
}

.my-button[style*=--x][style*=--y] {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */

    font-family: "ThemeVCK Text";
    font-size: 30px;

    --width: 28px;
    --height: 28px;
    height: var(--height);
    width:  var(--width);


    top:  calc(50% + var(--y) - var(--height) / 2 );
    left: calc(50% + var(--x) - var(--width)  / 2 );

    --factor: 1;
    
    transition: text-shadow .3s;
    animation: floating calc( 5s + 1s * var(--factor)) ease-in-out infinite;

    border: none;
    background: none;

    cursor: pointer;
    z-index: 1;


}

@keyframes floating {
    0%   { transform: translate(0,    0px) scale(1.2); }
    50%  { transform: translate(5px, 15px)           ; }
    100% { transform: translate(0,   -0px) scale(1.2); }    
}

.header-area {
    width: 100vw;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    width: min(45cm, 80%);
    height: 75px;

    background: grey;

    text-align: center;
}


.body-wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.main-body {
    width: min(45cm, 80%);
    display: flex;
    flex-direction: column;

    background-color: rgb(235, 235, 235);
    border-radius: 20px;
}

#blob {
	background: radial-gradient(rgb(110, 110, 110), transparent);

    --blob-size: 100px;

	filter: blur(calc(var(--blob-size)/2.15));
	
	width: var(--blob-size);
	height: var(--blob-size);

	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;

	border-radius: 50%;
}


#bottom {
    display: flex;
    justify-content: center;
    align-items:     center;

    width: 100%;
    height: 100px;
    background-color: red;

    font: 1.2rem "Fira Sans", sans-serif;
    color: white;
    z-index: 2;
}
